<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Cargar el archivo CSS de Bootstrap -->
    <th:block th:replace="~{bootstrap-css.html}"></th:block>
    <title>Help</title>
</head>
<body>
    <!-- Cargar la barra de navegación -->
    <div th:replace="~{navbar :: navbar}"></div>
    <div class="container">
        <h1>Ayuda</h1>
        <p>En esta página encontrarás respuestas a las preguntas más frecuentes, guías de usuario y cómo puedes contactar con nuestro equipo de soporte para obtener ayuda adicional.</p>
        <p>Contacto del Soporte Técnico: help@tiendavirtual.com | Teléfono: +57 456 123 7890</p>
        
        <h2>Deja un comentario</h2>
        <form>
            <div class="form-group">
                <label for="name">Nombre</label>
                <input type="text" class="form-control" id="name" placeholder="Tu nombre">
            </div>
            <div class="form-group">
                <label for="email">Email</label>
                <input type="email" class="form-control" id="email" placeholder="Tu email">
            </div>
            <div class="form-group">
                <label for="comment">Comentario</label>
                <textarea class="form-control" id="comment" rows="3" placeholder="Escribe tu comentario"></textarea>
            </div>
            <button type="submit" class="btn btn-primary">Enviar</button>
        </form>
    </div>
    <!-- Cargar los scripts de Bootstrap -->
    <th:block th:replace="~{bootstrap-js.html}"></th:block>
</body>
</html>