<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Cargar el archivo CSS de Bootstrap -->
    <th:block th:replace="~{bootstrap-css.html}"></th:block>
    <title>Home</title>
</head>
<body>
    <!-- Cargar la barra de navegación de inicio -->
    <div th:replace="~{navbar-inicio :: navbar-inicio}"></div>
    <div class="container">
        <h1>Bienvenido a Nuestra Tienda Virtual</h1>
        <p>Bienvenido a la mejor tienda virtual en línea. Ofrecemos una amplia variedad de productos de calidad a precios accesibles. Explore nuestro catálogo y descubra todo lo que tenemos para ofrecerle.</p>
        <p>Contacto: info@tiendavirtual.com | Teléfono: +57 123 456 7890</p>
    </div>
    <!-- Cargar los scripts de Bootstrap -->
    <th:block th:replace="~{bootstrap-js.html}"></th:block>
    </body>
</html>