<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Cargar el archivo CSS de Bootstrap -->
    <th:block th:replace="~{bootstrap-css.html}"></th:block>
    <title>Marketing</title>
</head>
<body>
    <!-- Cargar la barra de navegación -->
    <div th:replace="~{navbar :: navbar}"></div>
    <div class="container">
        <h1>Marketing</h1>
        <p>En esta página encontrará información sobre nuestras estrategias de marketing, las campañas publicitarias en curso y cómo colaboramos con influencers para llevar nuestros productos a más personas.</p>
        <p>Contacto del Departamento de Marketing: marketing@tiendavirtual.com | Teléfono: +57 321 654 9870</p>
    </div>
    <!-- Cargar los scripts de Bootstrap -->
    <th:block th:replace="~{bootstrap-js.html}"></th:block>
</body>
</html>

