<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="utf-8">
    <title>Usuarios</title>
    <!-- Cargar el archivo CSS de Bootstrap -->
    <th:block th:replace="~{bootstrap-css.html}"></th:block>
</head>
<body>

    <!-- Cargar la barra de navegación -->
    <div th:replace="~{navbar :: navbar}"></div>
    <br>
    <br>

	<div class="container">

		<h1>Registro e inicio de sesión con Spring Boot + Spring Security + Thymeleaf + Hibernate + MySQL y Bootstrap</h1>
		<br>
		<h4>
			Bienvenido <span sec:authentication="principal.username"></span>
		</h4>

	</div>
    <!-- Cargar los scripts de Bootstrap -->
    <th:block th:replace="~{bootstrap-js.html}"></th:block>
</body>
</html>