<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Cargar el archivo CSS de Bootstrap -->
    <th:block th:replace="~{bootstrap-css.html}"></th:block>
    <title>Ventas</title>
</head>
<body>
    <!-- Cargar la barra de navegación -->
    <div th:replace="~{navbar :: navbar}"></div>
    <div class="container">
        <h1>Ventas</h1>
        <p>En esta sección puedes encontrar las últimas ofertas, promociones y descuentos que tenemos disponibles. Aprovecha nuestras promociones y compra los mejores productos a los mejores precios.</p>
        <p>Contacto del Departamento de Ventas: ventas@tiendavirtual.com | Teléfono: +57 987 654 3210</p>
    </div>
    <!-- Cargar los scripts de Bootstrap -->
    <th:block th:replace="~{bootstrap-js.html}"></th:block>
</body>
</html>
